export(stargazer)
export(alpaca_vcovSandwich)
export(alpaca_vcovCL)
importFrom(stats, AIC, coef, cor, df.residual, family, fitted, formula,
           logLik, median, nobs, pf, pnorm, pt, quantile, sd, vcov)
S3method(extract_model, lm)
S3method(extract_model, glm)
S3method(extract_model, fixest)
S3method(extract_model, feglm)
S3method(extract_model, summary.feglm)
S3method(extract_model, default)
